support-us .note{
    font-weight: bold;
    font-style: italic;
}

support-us .pay-container{
   max-width: 480px;
   margin: 0 auto;
}

support-us h2{
    margin:25px 0;
}

support-us p{
    margin-bottom: 25px;
}