<media-item-header></media-item-header>

<ad-host slot="ads.shared" class="shared-ad-host"></ad-host>
<div class="page-body container article-body">
    <h1 class="thanks-head">Thanks!</h1>
    <p trans>We will send you a personal hand written note via email or on physical address,
    that'll be your choice. Plus our sincere thanks. And when we launch our premium services people 
    who supported will get free access for a certain period of time.</p>
    <a routerLink="/" mat-raised-button  trans>Back To Home</a>
</div>

<back-to-top-button></back-to-top-button>

<footer></footer>

